<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>CBIR Search Engine</title>
  <style type="text/css">
    .query {
        width: 300px;
        height: 300px;
        border:5px solid green;
    }
    .result {
        width: 200px;
        height: 200px;
    }
  </style>
</head>

<body>
  <!-- Upload form. Note enctype attribute! -->
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>Search Feature: {{ form.search_by }}</p>
    <p>Search Limit: {{ form.search_limit }}</p>
    <p>Distance Model: {{ form.distance_model }}</p>
    <p>Select an Image: {{ form.docfile }}</p>
    <p><input type="submit" value="Submit"></p>
  </form>
  {% if query %}
    <img class="query" src="{{ MEDIA_URL }}{{ query }}"></img>
  {% endif %}
  {% for result in results %}
    <img class="result" src="{{ MEDIA_URL }}{{ result }}"></img>
  {% endfor %}
</body>

</html>
